.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.table {
    display: flex;
    flex-direction: column;
}

.tableTitle {
    display: grid;
    grid-template-columns: 60px 200px 200px 220px;
    justify-content: space-between;
}

.tableTitleItem {
    display: flex;
    justify-content: center;
}

hr {
    margin: 15px 0;
}

/*-----------------------------------------------------------*/

.addNewUser {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.createForm {
    display: flex;
    flex-direction: column;
}

.createForm input {
    padding: 5px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.createForm button {
    cursor: pointer;
    font-size: 24px;
    padding: 5px;
    margin: 10px 0;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: #282c34;
    transition: all 0.15s ease 0s;
}

.createForm button:hover {
    background-color: #383d48;
}

/*-----------------------------------------------------------*/

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }
    .tableTitle {
        grid-template-columns: 6% 20% 20% 15%;
    }
    .addNewUser {
        margin: 0;
    }
}